.clearfix::after {
     display: block;
     content: "";
     clear: both;
}

h2, h3, p {
	color: #333;
}
h2 {
    /*margin-top: 54px;*/
    /* почему margin сдвигает всю секцию??? */
	font-family: GothamPM;
	font-size: 48px;
	line-height: 65px;
	text-align: center;
	margin-bottom: 0px;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}


/* section 1 */
.section_1 {
	width: 100%;
	background: url("../img/bg.png") no-repeat;
	background-position-x: center;
}
.section_1 .top {
	text-align: center;
	padding-top: 86px;
}
.section_1 .top h1 {
	font-family: GothamPB;
	font-size: 60px;
	color: #fff;
	margin: 0;
}
.section_1 .top p {
	font-family: GothamP;
	font-size: 30px;
	color: #fff;
	margin-top: 10px;
}
.section_1 .unlim {
	width: 50%;
	float: right;
	margin-top: 129px;
    padding-bottom: 248px;
}
.section_1 .unlim .first {
	font-family: GothamPM;
	font-size: 42px;
	color: #b6f1ff;
}
.section_1 .unlim .second {
	font-family: GothamP;
	font-size: 30px;
	color: #fff;
	margin-top: 56px;
    line-height: 48px;
}
.section_1 .unlim .btn {
	display: inline-block;
	background-color: #ff1744;
	border-radius: 5px;
    box-shadow: 0px 3px 1px 0px #d50000;
	padding: 22px 31px;
	margin-top: 37px;
}
.section_1 .unlim .btn a {

	font-family: GothamPBl;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}


/* section 2 */
.section_2 .wrapper, .section_3 .wrapper {
	text-align: center;
	padding-top: 55px;
}
.section_2 h2 {
	margin: 0 0 39px 0;
}
.section_2 .wrapper > div {
	width: 238px;
	margin: 54px 25px;
	text-align: center;
	display: inline-block;
}
.section_2 .icon {
	width: 60px;
	height: 74px;
	margin: 0 auto 6px;
	background: url("../img/icons.png");
}
.section_2 .head {
	font-family: GothamPM;
	font-size: 20px;
	color: #333;
	line-height: 27px;
}
.section_2 .text {
	font-family: GothamPL;
	font-size: 20px;
	color: #333;    
	line-height: 27px;
}
.section_2 .events .icon {
	background-position: -60px 0;
}
.section_2 .money .icon {
	background-position: -124px 0;
}
.section_2 .time .icon {
	background-position: -187px 0;
}
.section_2 .income .icon {
	background-position: -250px 0;
}
.section_2 .easy .icon {
	background-position: 0 74px;
}
.section_2 .indiv .icon {
	background-position: -62px 74px;
}
.section_2 .results .icon {
	background-position: -124px 74px;
}
.section_2 .support .icon {
	background-position: -188px 74px;
}
.section_2 .freedom .icon {
	background-position: -250px 74px;
}


/* section 3 */
.section_3 {
	background-color: #f5f5f5;
}
.section_3 h2 {
	margin: 0;
}
/*.section_3 .wrapper > p {*/
p.title {
	font-family: GothamPL;
	font-size: 24px;
	margin-top: 8px;
	/*text-align: center;*/
}
.section_3 .left .pic, .section_3 .left .desc  {
	float: left;
	text-align: left;
}
.section_3 .right .pic, .section_3 .right .desc {
	float: right;
	text-align: right;
}
.section_3 .wrapper > div {
	overflow: hidden;
}
.section_3 .left .pic {
	margin: 65px 89px 56px;
}
.section_3 .left .desc {
	margin: 28px 20px;
}
.section_3 .right .pic {
	margin: 79px 112px 55px;
}
.section_3 .right .desc {
	 margin: 94px -2px 0;
}
.section_3 div .pic {
	width: 384px;
	height: 523px;
}
.section_3 div .desc {
	width: 542px;
}
.section_3 div .desc h3 {
	font-family: GothamP;
	font-size: 48px;
}
.section_3 div .desc p:not(.first) {
	font-family: GothamPL;
	font-size: 18px;
	line-height: 30px;
	margin-top: 30px;
}
.section_3 div .desc p.first {
	font-family: GothamPL;
	font-size: 24px;
	margin-top: -26px;
    margin-bottom: 53px;
}

hr {
	position: absolute;
    left: 0;
    right: 0;
	border-top: none;
	border-color: #cfd8dc;
}



.section_4 .col{
	width: 50%;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0px 99px;
	margin: 80px 0 64px;
}
.section_4 .col > div {
    width: 340px;
    float: left;
	text-align: center;
}
.section_4 .icon {
	width: 164px;
	height: 63px;
	background: url(../img/4_1.png) no-repeat;
	color: #fff;
	font-family: GothamPM;
	font-size: 36px;
	text-align: center;
	padding-top: 6px;
	margin: 0 auto;
}
.section_4 .head {
	margin: 14px 0;
	letter-spacing: 0.9px;
	font-family: GothamPM;
	font-size: 20px;
	color: #414141;
}
.section_4 .text {
	font-family: GothamPL;
	font-size: 18.6px;
	color: #414141;   
	line-height: 31px;
}
.section_4 .btn {
	text-align: center;
	margin-bottom: 80px;
}
.section_4 .btn a {
	font-family: GothamPB;
	font-size: 18px;
	color: #ff1744;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #ff1744;
	border-radius: 5px;
	padding: 21px 27px;
}


.section_5 {
	position: relative;
	background-color: #fafafa;
	text-align: center;
}
.section_5 .balloon {
	position: absolute;
	top: -123px;
    left: 103px;
	width: 175px;
	height: 215px;
	background: url(../img/baloon.png);
}
.section_5 .present {
	position: relative;
	display: inline-block;
	top: -102px;
    left: 380px;
}
.section_5 .present::before {
	content: "В подарок";
	padding: 8px 17px;
    border-radius: 5px;
	font-family: GothamPM;
	font-size: 18px;
	color: #fff;
	background-color: #ff1744;
}
.section_5 .present::after {
    content: '';
    position: absolute;
    left: -12px;
    bottom: 4px;
    border: 6px solid transparent;
    border-right: 6px solid #ff1744;
}
.section_5 .text {
	margin-top: 73px;
	padding: 0 200px;
}
.section_5 .text p.head {
	font-family: GothamPM;
	font-size: 24px;
	margin-bottom: 34px;
}
.section_5 .text p {
	font-family: GothamPL;
	font-size: 18px;
	line-height: 30px;
	margin-top: 25px;
}
.section_5 .img {
	margin-top: 75px;
}
